.intro-sep{
  margin: 0px 0 0px 0;
  width: 50%;
  font-size: 30pt;
  color: #777;
}

.intro{
  font-weight: bold ;
  padding: 125px 0 125px 0 !important;
  width: 100% !important;  
  overflow-x: hidden !important;
}

.hobby{
  background: #007bff;
  font-weight: bold ;
  padding: 125px 0 125px 0 !important;
  width: 100% !important;  
  overflow-x: hidden !important;
}

.intro-text-1{
  color: rgb(46, 46, 46);
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px rgb(184, 184, 184);
  font-size: 20pt;
}

.intro-text{
  color: rgb(46, 46, 46);
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgb(184, 184, 184);
  font-size: 14pt;
}


.intro-text> a{
  color: #007bff;
}

.intro-text> a:hover{
  color: #00aeff;
}

.my-h{
  color: #009fff;
  margin-top: 25px;
  margin-bottom: 0px !important; 
  padding-left: 15px;
  font-family: 'Prompt', sans-serif !important;
}
.h-container{
  border-left: 8px solid #009fff !important;
  padding-left: 0 !important;

}
.my-h-sm{
  font-size: 16pt;
  color: rgb(48, 48, 48);
  margin-bottom: 25px;
  padding-left: 15px;
  font-family: 'Arial', sans-serif;
}

.container-fluid {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

label {
  display: inline-block;
  margin-bottom: 2px !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 767px)  {

  .my-h{
    font-size: 18pt;
  }

  .container-fluid {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden !important;
  }

  .container{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden !important;
  }

  .intro{
    font-weight: bold ;
    padding: 50px 10% 60px 10% !important;
    width: 100% !important;
  }

  .intro-text{
    font-size: 14pt;
  }
  .intro-text-1{
    color: rgb(46, 46, 46);
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px rgb(184, 184, 184);
    font-size: 18pt;
  }

}

@media screen and (max-width: 310px)  {
  body,html{
    padding: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    width: 100% !important;
    padding-right:0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .container{
    width: 100%;
    padding-right:0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}