.container-fluid {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

label {
  display: inline-block;
  margin-bottom: 2px !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 767px)  {

  .my-h{
    font-size: 18pt;
  }

  .container-fluid {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden !important;
  }

  .container{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden !important;
  }

  .intro{
    font-weight: bold ;
    padding: 50px 10% 60px 10% !important;
    width: 100% !important;
  }

  .intro-text{
    font-size: 14pt;
  }
  .intro-text-1{
    color: rgb(46, 46, 46);
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px rgb(184, 184, 184);
    font-size: 18pt;
  }

}

@media screen and (max-width: 310px)  {
  body,html{
    padding: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    width: 100% !important;
    padding-right:0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .container{
    width: 100%;
    padding-right:0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}