.intro-sep{
  margin: 0px 0 75px 0;
  width: 50%;
  font-size: 30pt;
  color: #777;
}

.intro{
  font-weight: bold ;
  padding: 75px 0 75px 0 !important;
  width: 100% !important;
  border-bottom: 2px solid rgb(99, 99, 99);
  background: #9c9c9c; /* Old Browsers */
  background: -webkit-linear-gradient(bottom,#9c9c9c,#6b6b6b); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#9c9c9c,#6b6b6b); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#9c9c9c,#6b6b6b); /*Fx 3.6-15*/
  background: linear-gradient(to top, #9c9c9c, #6b6b6b); /*Standard*/
}

.intro-text{
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgb(56, 56, 56);
  font-size: 14pt;
}

.intro-text> a{
  color: rgb(118, 193, 255);
}

.container-fluid {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden !important
}

label {
  display: inline-block;
  margin-bottom: 2px !important;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 767px)  {

  .container-fluid {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden !important
  }

  .container{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden !important
  }

  .intro{
    font-weight: bold ;
    padding: 30px 10% 20px 10% !important;
    width: 100% !important;
  }

  .intro-text{
    font-size: 12pt;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(56, 56, 56);
  }

}

@media screen and (max-width: 310px)  {
  body,html{
    padding: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    width: 100% !important;
    padding-right:0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    overflow-x: hidden !important
  }

  .container{
    width: 100%;
    padding-right:0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    overflow-x: hidden !important
  }

}