.scroll-adjust {
    padding-top: 125px;
    margin-top: -125px;
}

.coverDiv{
    z-index: 25 !important;
    content: "";
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.85);
}

.skills-img{
    margin-top:30px;
}

.wdskills-div{
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #0099ff;
}

.wd-text{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.719);
    font-size: 20pt;
}

.coverDiv:after {

}

.intro-sep{
    margin: 0px 0 0px 0;
    width: 50%;
    font-size: 30pt;
    color: #777;
}

.intro{
    font-weight: bold ;
    padding: 100px 0 100px 0 !important;
    width: 100% !important;  
    overflow-x: hidden !important;
}

.hobby{
    background: #007bff;
    font-weight: bold ;
    padding: 125px 0 125px 0 !important;
    width: 100% !important;  
    overflow-x: hidden !important;
}

.intro-text-1{
    color: rgb(46, 46, 46);
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);
    font-size: 20pt;
}

.intro-text-2{
    color: #0099ff;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
    font-size: 20pt;
}

.intro-text{
    color: rgb(46, 46, 46);
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgb(184, 184, 184);
    font-size: 14pt;
}

.contactme-div{
    background-color: #FFF;
    padding-top:100px;
    padding-bottom: 100px;
}

.intro-text> a{
    color: #0099ff;
}

.intro-text> a:hover{
    color: #00aeff;
}

.seperator{
    border-top: 1px solid rgb(160, 160, 160);
    margin: 50px 0px 50px 0;
    width: 95%;
}

@media screen and (max-width: 767px)  {
    .seperator{
        border-top: 1px solid rgb(160, 160, 160) !important;
        margin: 36px 0px 35px 0 !important;
        width: 95% !important;
    }
    
}