
.gordon-pic{
    box-shadow: 2px 2px 4px 1px rgb(87, 87, 87);
    border-radius: 4px;
}

.about-pic-div-1{
    padding-bottom: 0px !important;
    margin-bottom: 5px !important;
} 

.about-pic-div-2{
    display: none !important;
} 

.about-h{
    color: rgb(42, 114, 143);
    margin-bottom: 25px;
    border-bottom: 2px solid rgb(42, 114, 143) !important;
    font-family: 'Prompt', sans-serif !important;
}

.about-text-div{
    position: relative !important; 
    padding: 15px;
    margin-top: 0px;     
}

.about-text{
    font-size: 12pt;
    text-indent: 2rem;
}

.about-div{
    font-family: 'Cabin', sans-serif;
    border-radius: 2px;
}

@media screen and (max-width: 767px)  {
    .about-text-div{
        position: relative !important; 
        padding-top: 0px !important;
        margin-top: 0px;     
    }

    .about-h{
        font-size: 18pt;
    }
    
    .about{
        padding-bottom: 0px !important;
    }

    .about-text{
        margin-bottom: 10px !important;
        font-size: 10pt;
        text-indent: 20px;
    }

    .about-pic-div-1{
        border-bottom: 1px solid #999 !important;
        padding-bottom: 0px !important;
        margin-bottom: 5px !important;
        display: none !important;
    }       

    .about-pic-div-2{
        border-bottom: 1px solid #999 !important;
        padding-bottom: 15px !important;
        margin-bottom: 10px !important;
        display: block !important  
    }

}