/* font-family: 'Bungee', cursive;
font-family: 'Prompt', sans-serif;
font-family: 'Russo One', sans-serif; */

.brand-text-link {
    color: inherit !important;
    text-decoration: none !important;
}

.list-group{
    border-bottom: none !important;
}

.nav-brand{
    color: #009fff;
}

.bg-dark{

}

.soc-links{
    color: #009fff !important;
    margin-top: 15px;

}
.soc-links:hover{
    color: #00ccff !important;
}

.soc-links-collapse{
    display: none !important;

}

.nav-link.active, .nav-link:hover, .nav-link.show, .navbar-nav .show>.nav-link{
    padding-bottom: 0px !important;
}

.navbar-nav{
    border-radius: 0px !important;
    font-family: 'Russo One', sans-serif;
}

.nav-link{
    margin-left: 2px;
    margin-right: 2px;
}

.nav-link:hover{
    border-bottom: 2px solid #FFF !important;
    border-radius: 0px !important;
}

.dropdown-item{
    color: rgba(255,255,255,.5) !important;

}

.dropdown-item:hover{
    font-weight: bold;
}
.nav-item, .nav-link, .nav-link>a{
    border: none !important;
}

#soc-menu{
    color: rgba(255,255,255,.5) !important;
    background: transparent !important;
    margin: 0 0 0 0;
}

.navbar .nav{
    height: 50px;
    z-index: 5;
}

.nav-pos{
   
 
}

.nav-pill{   
    background-color: transparent;
    text-align: center;
    border-bottom: 1px solid rgb(41, 41, 41) !important;
    font-size: 16pt;
    padding: 0px 0px 0px 0px;
}

.sticky-top{

}
.top-nav{
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: -1 !important;
    background: rgb(255, 255, 255) !important;

}

.mid-nav{
    z-index: 1 !important;
    margin-top: -12px !important;
    margin-bottom: -10px !important;
    padding-left: 14px !important;
    padding-bottom: 18px !important;
    background: #FFF !important;
}

.bot-nav{
    width: 100% !important;
    background: #009fff !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459);
}



.active> .nav-link{
    border-bottom: 2px solid #FFF !important;
    padding-bottom: 0px !important;
}

/*MEDIA QUERIES */

@media screen and (max-width: 767px)  {

    .soc-links-collapse{
        display: inline-block !important;
    }

    .top-nav, .mid-nav{
        display: none !important;
    }
    

    .nav-pill{   
        background-color: transparent;
        text-align: center;
        border-bottom: 1px solid rgb(41, 41, 41);
        margin: 2px 0px 8px 0px;
        height: auto;
        width: auto;
        padding: 5px 0 5px 0;
    }

    .brand-text{
        display: none;
    }

    .nav-pos {
        position: absolute !important;
        left: 0px !important;
        top: 43px !important;
        width: 100%;
        border-left:2px solid #FFF;
        border-right:2px solid #FFF;
        border-bottom:2px solid #FFF;
        z-index: 5;
        background: #009fff; /* Old Browsers */
    }

    .active> .nav-link{
        border-bottom: none !important;
        padding-bottom: 0px !important;
        background-color: #FFF;
        color: #009fff !important;
    }


    .nav-link, .nav-link.active, .nav-link:hover, .nav-link.show, .navbar-nav .show>.nav-link{
        padding: 10px !important;
        opacity: 1 !important;

        
    }
    
    .brand-pos{
        margin: 5px 5px 5px 5px !important;
        position: relative !important;
        left: 5% !important;
    }

    .dropdown-menu{
        background: transparent;
        border: 2px solid #fff !important;
        box-shadow: 1px 1px 1px !important;
    }
    
    .brand-image{
        height: 35px;
        display: block;
    }

    .navbar-expand-md{
        padding-right: 5% !important;
        padding-left: 3% !important;
    }
}